.DS_Store
prototype/output/server
prototype/output/server.c
prototype/output/*.dSYM

src/test/test-data_store
src/test/test-rest

target/server
target/server.c
target/*.dSYM
target/*.o

*.a
*.o
*.la
*.lo
*.so*

aclocal.m4
autom4te.cache
        
Makefile
config.h
config.log
config.status
.deps/
stamp-h1
libtool

ouroboros_server
